.content {
    display: grid;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    width: 100%;
}
.closed {
    display: grid;
    padding: 20px;
    row-gap: 20px;
    column-gap: 20px;
    width: calc(100% - 60px);
    margin: 0 auto !important;
}
@media (min-width: 990px) {
    .content {
        grid-template-columns: repeat(2, 1fr);
        margin: 60px 0 0 200px;
        width: calc(100% - 200px);
    }
    .closed {
        grid-template-columns: repeat(2, 1fr);
        margin: 60px 0 0 60px !important;
        width: calc(100% - 60px);
    }
}