.fund {
    width: 100%;
    color: white;
    padding: 10px;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.head span {
    color: var(--text-color);
    font-size: 14px;
}
.head > span {
    font-size: 18px;
}

.currency {
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline;
}

.controls {
    display: inline;
    float: right;
    padding: 0;
}
.controls button {
    margin-left: 20px;
}