* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
html, body {
  background-color: var(--content-bg);
}
a {
  color: var(--link-color);
  text-decoration: none;
  cursor: pointer;
}
a:hover{
  text-decoration: underline;
}

.register-header {
  margin: 20px auto;
  font-size: 16px;
  font-weight: bold;
  color: white !important;
}

.full-width {
  width: 100%;
}

:root {
  --input-padding: 10px 12px;
  --border-radius: 8px;
  --text-color: #bbc4c9;
  --text-size: 14px;
  --link-color: #48a6eb;
  --primary-button-color: #48a6eb;
  --home-bg: #393a4d;
  --nav-bar-bg: #2b2b3c;
  --content-bg: #393a4d;
  --success-button-color: #48a36a;
}